
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul  class="nav navbar-nav "  >
      <li class="active" ><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>

      <li class="dropdown"  >
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <img src="../../public/Images/icon.jpg" class="profile-image img-circle"  > {{userinfo}} <b class="caret"></b></a>
      <ul class="dropdown-menu">
         <li><a href="#"><i class="fa fa-sign-out"></i> Sign-out</a></li>
      </ul>
    </ul>
</li>
  </div>
</nav>
  
