<!DOCTYPE html>

<html>
<head>

  <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1 , maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>SmartLinkHub</title>
  <link rel="stylesheet" href="/src/css/animate.css">
  <link rel="stylesheet" href="/src/css/framework7.ios.min.css">
  <link rel="stylesheet" href="/src/css/custom.css">
  <link href="https://fonts.googleapis.com/css?family=Heebo:300,400,500,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:600,800" rel="stylesheet">
  <script src="/src/js/jquery.min.js"></script>
  <link rel="icon" href="/src/images/favicon-biobutterfly.png" sizes="32x32">
  <link rel="icon" href="/src/images/favicon-biobutterfly.png" sizes="192x192">
  <link rel="apple-touch-icon-precomposed" href="/src/images/favicon-biobutterfly.png">
  <meta name="msapplication-TileImage" content="/src/images/favicon-biobutterfly.png">


  


</head>
<body class="app" theme-color="rose" device-style="ios" device-size="iphoneX" style="margin-top: 0%">

	{{{body}}}

  
</body>

    <script type="text/javascript" src="/src/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/src/js/framework7.min.js"></script>
    <script type="text/javascript" src="/src/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript" src="/src/js/ourScript.js"></script>
    <script>
      function sendid(value) {
        document.getElementById("song_id").value = value;
        var user = document.getElementById("userid").value;
        var xhttp = new XMLHttpRequest();
        var url = '/addtoRecent/'+user+'/'+value;
        xhttp.open('POST',url);
        xhttp.send(); 
      }
    </script>
    <script>
      function addtoplaylist(value) {
        var id = document.getElementById("song_id").value;
        var xhttp = new XMLHttpRequest();
        var url = '/addtoplaylist/'+id+'/'+value;
        xhttp.open('POST',url);
        xhttp.send(); 
      }
    </script>
    <script>
      function removefromplaylist(value) {
        var id = document.getElementById("song_id").value;
        var xhttp = new XMLHttpRequest();
        var url = '/deleteSong/'+id+'/'+value;
        xhttp.open('POST',url);
        xhttp.send(); 
      }
    </script>
    <script>
     function done() {
      document.getElementById("imageform").submit();
     }
    </script>
</html>

