<h1> Admin Side </h1>
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<input  type="button" class="btn btn-primary" value="submit">

<div class="container">
  <div class="row">
     <div class="col-sm-1">1</div>
     <div class="col-sm-1">1</div>
     <div class="col-sm-8">
        <div class="container">
            <form action="myform.cgi">
                <input  type="file" class="btn btn-primary" name="fileupload" value="fileupload" id="fileupload">
                <label for="fileupload"> Select a file to upload</label>
                <input type="submit" value="submit">
            </form>
		</div>
     </div>
     <div class="col-sm-1">111111111</div>
    <div class="col-sm-1">1</div>
  </div>
</div>
