 <div class = "views">
         <div class = "view view-main">
         
            <div class = "navbar">
               <div class = "navbar-inner">
                  <div class = "center sliding">Start App With Login Screen</div>
               </div>
            </div>
            
            <div class = "pages">
               <div data-page = "index" class = "page navbar-fixed">
                  <div class = "page-content">
                     <div class = "content-block">
                        <p><a href = "#" class = "open-login-screen">Click here to open Login Screen</a></p>
                     </div>
                  </div>
               </div>
            </div>
            
         </div>
      </div>
      
      <div class = "login-screen modal-in">
         <div class = "view">
            <div class = "page">
               <div class = "page-content login-screen-content">
                  <div class = "login-screen-title">Login Here</div>
                  
                  <form>
                     <div class = "list-block">
                        <ul>
                           <li class = "item-content">
                              <div class = "item-inner">
                                 <div class = "item-title label">Username</div>
                                 <div class = "item-input">
                                    <input type = "text" name = "username" placeholder = "Enter the username">
                                 </div>
                              </div>
                           </li>
                           
                           <li class = "item-content">
                              <div class = "item-inner">
                                 <div class = "item-title label">Password</div>
                                 <div class = "item-input">
                                    <input type = "password" name = "password" placeholder = "Enter the password">
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </div>
                     
                     <div class = "list-block">
                        <ul>
                           <li><a href = "#" class = "item-link list-button">Log In</a></li>
                        </ul>
                        
                     </div>
                  </form>
                  
               </div>
            </div>
         </div>
      </div>
      