
<h2>Login Form</h2>

<form action="/action_page.php">
  <div class="imgcontainer">



<img  src="" alt="Avatar" class="avatar">
  </div>

  <div class="container">
   
    

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
   
<select>
  <option value="as">Artist</option>
  <option value="ls">Listener</option>
  
</select>
    


    

        
    <button type="submit">Signin</button>
    
  </div>

  </div>
</form>
