<body>
    {{#if messages.info }}
    <div class="alert alert-danger">{{messages.info}}</div>
    {{/if}}
    <div class="container" style="height:100vh">
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="height:400px; width:600px ">
                <div class="card-header text-center">
                    <h3>Upload new Video</h3>
                    {{!-- <div class="d-flex justify-content-end social_icon">
		<span><i class="fab fa-facebook-square"></i></span>
		<span><i class="fab fa-google-plus-square"></i></span>
		<span><i class="fab fa-twitter-square"></i></span>
	</div> --}}
                    <div class="progress green" id="bar" style="visibility:hidden">
                        <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                            value="0" max="100" style="width:100%">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="file/video/upload" id="uploadvideo" method="post" enctype="multipart/form-data"
                        onsubmit="myfun()">
                        {{!-- <div class="row align-items-center remember col-md-12">
                            <h6>Select Video file</h6>
                        </div>
                        <div class="btn btn-primary btn-block mb-2" style="font-size: calc(12px + .2vw);">
                            <span>Open file Browser</span>
                            <input type="file" name='video' id="video" accept="video/mp4" />
                        </div> --}}

                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" name='file1' id="file1" accept="video/mp4">
                            <label class="custom-file-label" for="customFile">Select mp4 Video</label>
                        </div>

                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="customFile" name='file2' accept="image/*">
                            <label class="custom-file-label" for="customFile">Choose File Image</label>
                        </div>

                        {{!-- <div class="row align-items-center remember col-md-12">
                            Select your avatar:
                        </div>
                        <div class="btn btn-primary btn-block mb-2"
                            style="font-size: calc(12px + .2vw); overflow: hidden">
                            <span>Open file Browser</span>
                            <input type="file" name='file2' accept="image/*" />
                        </div> --}}
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fab fa-youtube"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Video Title" name="Title">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Artist Name" name="artist">
                        </div>



                        {{!-- <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Genre" name="Genre">
                        </div> --}}

                        {{!-- <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Release Date" name="ReleaseDate">
                        </div> --}}

                        {{!-- <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Isrc / Upc Code" name="Code">
                        </div> --}}
                        {{!-- <div class="input-group form-group">
							<small id="emailHelp" class="form-text col-md-12 text-light mb-1">Enter <b>Comma</b>
								to Seperate
								Artist.</small>
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Featured Artist" name="Featured">
						</div> --}}

                        {{!-- Featured Artist Input With Tags --}}
                        {{!-- <div class="input-group form-group">
                            <small id="emailHelp" class="form-text col-md-12 text-light mb-1">Enter <b>Comma</b> or Tap
                                <b>Enter</b>
                                to add a new Artist.</small>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input class="col bg-light" type="text" name='tags3' placeholder='Enter Featured Artist'
                                pattern='^[A-Za-z_ ]{1,15}$'>
                        </div> --}}
                        <input type="hidden" name="uploadedby" value={{uploadedby}} />
                        {{!-- <div class="row align-items-center remember">
			<input type="checkbox">Remember Me
		</div> --}}
                        <div class="form-group">
                            <input id="videouploadbtn" type="submit" value="Upload" class="btn btn-block login_btn"
                                onclick="uploadvideo()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>